<div class="header_class" data-controller="menu">
    <%= link_to products_path do %>
        <h1 class="app_name"> <%= t('app_name') %> </h1>
    <% end %>

    <button class="icon_button" data-action="click->menu#open"><%= image_tag 'icons/menu.svg' %></button>

    <div class="link_container">
        <%= render partial: 'shared/items' %>
    </div>

    <div class="mobile_container" data-menu-target="items">
        <button class="icon_button" data-action="click->menu#close"><%= image_tag 'icons/close.svg' %></button>
        <%= render partial: 'shared/items' %>
    </div>
</div>