<%= link_to product_path(product.id), class: 'product', 'data-turbo-frame': '_top' do %>
    <%= image_tag product.photo.attached? ? product.photo : 'empty_style.jpg' %>
    <span><%= product.price%>$</span>
    <h2><%= product.title %></h2>
    <p><%= product.description %></p>
<% end %>